<launch>

    <!-- Params -->
    <arg name="gps_port" default="/dev/ttyUSB1"/>
    <arg name="gps_baud" default="4800"/>
    <arg name="imu_config_file" default="$(find razor_imu_9dof)/config/my_razor.yaml"/>
    <arg name="arduino_port" default="/dev/ttyUSB0"/>
    <arg name="vehicle" default="duckieboat"/>
    <arg name="max_thrust_limit" default="70"/> <!-- linear between 50~70-->
    <arg name="min_thrust_limit" default="0"/>
    <arg name="cutoff_value" default="200"/>     <!-- 0 between 0~30, 50 between 30~50 -->


    <group ns="$(arg vehicle)">

        <!-- GPS -->
        <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
            <arg name="port" value="$(arg gps_port)"/>
            <arg name="baud" value="$(arg gps_baud)"/>
        </include>
        
        <!-- IMU -->
        <include file="$(find razor_imu_9dof)/launch/razor-pub.launch">
            <arg name="razor_config_file" value="$(arg imu_config_file)"/>
        </include>

        <!-- DESIRED_THRUST/RUDDER to THRUST_L/R -->
        <node pkg="motor" type="thrust_control.py" name="thrust_control_node" output="screen">
            <param name="max_thrust_limit" type="double" value="$(arg max_thrust_limit)"/>
            <param name="min_thrust_limit" type="double" value="$(arg min_thrust_limit)"/>
            <param name="cutoff_value" type="double" value="$(arg cutoff_value)"/>
        </node>

        <!-- Arduino rosserial -->
        <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
            <param name="port" value="$(arg arduino_port)" />
        </node>
        
    </group>

</launch>
